root{
  --cor-fundo:#2C1738;
  --cor-destaque:#9750C0;
  --cor-texto: #fefefe;
}

*{
  margin:0;
  paddin:0;
}

body{
  background-color: var(--cor-fundo);
  color:var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

.apresentacao{
  display: flex;
  margin: 10%;
  align-items: center;
  justify-content: space-between;
}

a{
  
}

.foto{
  height: 400px;
}